<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="/static/Css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/Css/ui-dialog.css" />

        <script type="text/javascript" src="/static/Js/jquery.js"></script>
        <script type="text/javascript" src="/static/Js/jquery.sorted.js"></script>
        <script type="text/javascript" src="/static/Js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/Js/ckform.js"></script>
        <script type="text/javascript" src="/static/Js/common.js"></script>
		<script type="text/javascript" src="/static/Js/dialog-plus-min.js"></script>

		<style>
		.so {
			height: 70px;
			padding-top:20px;
			padding-bottom:10px;
		}

        /* 表头单元格内容居中 */
        .tr_value td {
            text-align: center;
        } 
        </style>

        <script>
            function edit_info(id) {
				var dia = dialog({
						title: '编辑项目信息',
						url: 'http://192.168.234.139/xiangmu_edit?id=' + id,
						width: '400px',
						height: '200px'
				});

				dia.show();
			}

			function del_confirm() {
				var res = confirm('确定要删除此条记录？');
				if (res == true )
					return true;
				else
					return false;
			}
        </script>
    </head>
    <body>
		<div class="container-fluid">
		<!---
            <div class="controls so">
                 <form method="get" action="systeminfo_find" class="form-search">
                     <table>
                         <tr>
                             <td>
                               <label class="control-label">搜索： <input type="text" name="find_con"  size="50" class="search-query"/>
                                <input type="submit" value="ok" class="btn btn-primary" /></label>
                             </td>
                         </tr>
                     </table>
                 </form>
			</div>
		-->

            <div class="controls so">
                 <form class="form-search form-horizontal"  method="post" action="change_password_commit/">
                     <table>
                         <tr>
                             <td>
                                 <label>新密码：&nbsp;&nbsp;&nbsp;<input type="text" name="pw"  size="50" class=""/></label> <br />
                             </td>
                             <td>
                                  &nbsp;&nbsp;<input  class="btn btn-primary" type="submit" value="提交" />
                             </td>
                         </tr>
                     </table>
                 </form>
            </div>
    </body>
</html>
