<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="/static/Css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/Css/ui-dialog.css" />

        <script type="text/javascript" src="/static/Js/jquery.js"></script>
        <script type="text/javascript" src="/static/Js/jquery.sorted.js"></script>
        <script type="text/javascript" src="/static/Js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/Js/ckform.js"></script>
        <script type="text/javascript" src="/static/Js/common.js"></script>
		<script type="text/javascript" src="/static/Js/dialog-plus-min.js"></script>

		<style>
		.so {
			height: 70px;
			padding-top:20px;
			padding-bottom:10px;
		}

        /* 表头单元格内容居中 */
        .tr_value td {
            text-align: center;
        } 
        </style>

        <script>
            function edit_info(id) {
				var dia = dialog({
						title: '编辑项目信息',
						url: 'http://192.168.234.139/xiangmu_edit?id=' + id,
						width: '400px',
						height: '200px'
				});

				dia.show();
			}

			function del_confirm() {
				var res = confirm('确定要删除此条记录？');
				if (res == true )
					return true;
				else
					return false;
			}
        </script>
    </head>
    <body>
		<div class="container-fluid">
		<!---
            <div class="controls so">
                 <form method="get" action="systeminfo_find" class="form-search">
                     <table>
                         <tr>
                             <td>
                               <label class="control-label">搜索： <input type="text" name="find_con"  size="50" class="search-query"/>
                                <input type="submit" value="ok" class="btn btn-primary" /></label>
                             </td>
                         </tr>
                     </table>
                 </form>
			</div>
		-->

            <div class="controls so">
                 <form class="form-search form-horizontal"  method="post" action="user_add">
                     <table>
                         <tr>
                             <td>
                                 <label>用户名：<input type="text" name="username"  size="50" class=""/></label> <br />
                                 <label>密码：&nbsp;&nbsp;&nbsp;<input type="text" name="password"  size="50" class=""/></label> <br />
                             </td>
                             <td>
                                 <br />
                                  &nbsp;&nbsp; &nbsp;<input  class="btn btn-primary" type="submit" value="增加" />
                             </td>
                         </tr>
                     </table>
                 </form>
            </div>
			<br />

			<div>
				<table border="1"  class="table text-info table-bordered table-striped table-hover table-condensed">
					<thead>
						<tr height="32px" class="tr_value"  style="background: #DFF0D8; font-size: 18px; ">
							<td>用户名</td>
							<td>角色</td>
							<td width="132px">操作</td>
						</tr>
					</thead>
					{% for i in a %}
						<tr class='tr_value' height="32px" style="font-size:16px">
							<td>{{i.username}}</td>
							<td>{{i.role}}</td>
							<td><!-- a class="btn btn-primary" href="xiangmu_edit?id={{i.id}}">编辑</a -->
								<!-- <input  class="btn btn-primary" type="button" value="编辑" style="height:32px;"  onclick="edit_info('{{i.id}}')" /> -->
                                &nbsp; &nbsp;<!-- <a  class="btn btn-primary del_info" href="user_del?id={{i.id}}"  onclick="return del_confirm()">删除</a>-->
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
    </body>
</html>
