<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

	<link rel="stylesheet" type="text/css" href="/static/Css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/static/Css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="/static/Css/style.css" />
	<link rel="stylesheet" type="text/css" href="/static/Css/ui-dialog.css" />

	<script type="text/javascript" src="/static/Js/jquery.js"></script>
	<script type="text/javascript" src="/static/Js/jquery.sorted.js"></script>
	<script type="text/javascript" src="/static/Js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/Js/ckform.js"></script>
	<script type="text/javascript" src="/static/Js/common.js"></script>
	<script type="text/javascript" src="/static/Js/dialog-plus-min.js"></script>

	<style>
		div span {
			display:inline-block;
			width:80px;
			padding-right:15px;
			text-align:right;
		}
	</style>

</head>
<body>
	<div>
		<form  id="form_edit" method="post" action="jiankong_edit_commit">
			<div><input type="text" name="id" value="{{id }}" /></div>
			<div><span>联系人</span><input type="text" name="name" value="{{ pro_info.name }}" /></div>
			<div><span>手机号码</span><input type="text"  name="iphone" value="{{ pro_info.iphone }}" /></div>
			<br />
			<div><span></span><input id="submit_info" class="btn btn-primary" type="submit" value="修改" /></div>
		</form>
	</div>
</body>
</html>
