<!DOCTYPE html>
<html>
    <head>
        <title>手机信息一览表</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="/static/Css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/Css/ui-dialog.css" />

        <script type="text/javascript" src="/static/Js/jquery.js"></script>
        <script type="text/javascript" src="/static/Js/jquery.sorted.js"></script>
        <script type="text/javascript" src="/static/Js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/Js/ckform.js"></script>
        <script type="text/javascript" src="/static/Js/common.js"></script>
		<script type="text/javascript" src="/static/Js/dialog-plus-min.js"></script>

		<style>
		.so {
			height: 70px;
			padding-top:20px;
			padding-bottom:10px;
		}

        /* 表头单元格内容居中 */
        .tr_value td {
            text-align: center;
        } 
        </style>

        <script>

			function del_confirm() {
				var res = confirm('确定要删除此条记录？');
				if (res == true )
					return true;
				else
					return false;
			}
        </script>
    </head>
    <body>
		
			<div class="controls so">
                 <form class="form-search form-horizontal"  method="get" action="phone_info">
                     <table>
                         <tr>
                             <td>
                                 <label>现使用人：<input type="text" name="curuser"  size="50" class="search-query"/></label> <br />
                             </td>
                             <td>
                                  &nbsp;&nbsp; &nbsp;&nbsp;<input  class="btn btn-primary" type="submit" value="搜索" />  
                             </td>
							<td>
								&nbsp;&nbsp; <a class="btn btn-success" href="/upfile_index/" target="_blank">导入excel</a>
							</td>
                         </tr>
                     </table>
                 </form>
            </div>

            <div class="controls so">
                 <form class="form-search form-horizontal"  method="post" action="phoneinfo_add">
                     <table>
                         <tr>
                             <td>
                                 <label>&nbsp;&nbsp;序号：<input type="text" name="mingcheng"  size="50" class=""/></label>
                                 <label>&nbsp;&nbsp;名称：<input type="text" name="mingcheng"  size="50" class=""/></label>
                                 <label>&nbsp;&nbsp;品牌：<input type="text" name="pinpai"  size="50" class=""/></label> 
                                 <label>&nbsp;&nbsp;型号：<input type="text" name="xinghao"  size="50" class=""/></label>
                                 <label>&nbsp;&nbsp;主屏尺寸：<input type="text" name="chicun"  size="50" class=""/></label>
                                 <label>&nbsp;&nbsp;版本：<input type="text" name="banbeninfo"  size="50" class=""/></label>
                                 <label>&nbsp;&nbsp;配件：<input type="text" name="peijian"  size="50" class=""/></label>
                                 <label>&nbsp;&nbsp;制式：<input type="text" name="zhishi"  size="50" class=""/></label>
                                 <label>&nbsp;&nbsp;编号：<input type="text" name="bianhao"  size="50" class=""/></label>
                                 <label>&nbsp;&nbsp;现使用人：<input type="text" name="curuser"  size="50" class=""/></label>
                                 <label>&nbsp;&nbsp;部门：<input type="text" name="bumen"  size="50" class=""/></label>
                                 <label>&nbsp;&nbsp;备注：<input type="text" name="beizhu"  size="50" class=""/></label>
								  <br />
								  <br />
                             </td>
                             <td>
                                 <br />
                                 <br />
                                 <input  class="btn btn-primary" type="submit" value="增加" />
                             </td>
                     </table>
                 </form>
            </div>

			<div>
				<table border="1"  class="table text-info table-bordered table-striped table-hover table-condensed">
					<thead>
						<tr height="32px" class="tr_value"  style="background: #DFF0D8; font-size: 18px; ">
							<td>ID</td>
							<td>序号</td>
							<td>名称</td>
							<td>品牌</td>
							<td>型号</td>
							<td>主屏尺寸</td>
							<td>版本信息</td>
							<td>配件</td>
							<td>制式</td>
							<td>编号</td>
							<td>现使用人</td>
							<td>部门</td>
							<td>备注</td>
							<td width="132px">操作</td>
						</tr>
					</thead 
					<br />
					{% for i in a %}
						<br />
						<tr class='tr_value' height="32px" style="font-size:16px">
							<td>{{i.id}}</td>
							<td>{{i.numbers}}</td>
							<td>{{i.mingcheng}}</td>
							<td>{{i.pinpai}}</td>
							<td>{{i.xinghao}}</td>
							<td>{{i.chicun}}</td>
							<td>{{i.banbeninfo}}</td>
							<td>{{i.peijian}}</td>
							<td>{{i.zhishi}}</td>
							<td>{{i.bianhao}}</td>
							<td>{{i.curuser}}</td>
							<td>{{i.bumen}}</td>
							<td>{{i.beizhu}}</td>
							<td>
                                &nbsp; &nbsp; <a  class="btn btn-primary del_info" href="phoneinfo_del?id={{i.id}}"  onclick="return del_confirm()">删除</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
    </body>
</html>
