<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- TemplateBeginEditable name="doctitle" -->
        <title>数据上传</title>
        <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="/static/Css/style.css" />
        <script type="text/javascript" src="/static/Js/jquery.js"></script>
        <script type="text/javascript" src="/static/Js/jquery.sorted.js"></script>
        <script type="text/javascript" src="/static/Js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/Js/ckform.js"></script>
        <script type="text/javascript" src="/static/Js/common.js"></script>

        <style>
            .query_result {
                margin: 50px 0px 30px 78px;
            }

            /* radio 垂直居中  */
            .radio_info {
                display: inline-block;
                padding-top: 4px;
                height:28px;
                font-size:25px;
                line-height: 25px;
            }

            /*  sql 语句文本框 */
            .sql_cmd {
                width: 800px;
                height: 300px;
                resize: none;
            }

			/* */
			#span_radio_text {
				color:black;
				font-size:14px;
			}

        </style>
    </head>

    <body>
    
    </body>
</html>
    <div class="container-fluid">


        <div class="text-info">
            <form class="form-horizontal" method="post" action="upfile_commit" enctype="multipart/form-data">


                <div class="control-group">
                    <label class="control-label" for="sql_file">数据文件：</label>
                    <div class="controls">
                        <input id="file"   name="file"  size="20" type="file" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input id="submit"   name="ok"      type="submit" class="btn btn-primary"  value="提交" /> &nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="cancel"   name="cancel" type="reset" class="btn btn-primary"   value="重置" />
                    </div>
                </div>

            </form>
        </div>
    </div>

<!--
  <a href='sql_find_index' >SQL执行结果查询</a> <br><br>
  
  
  <div>
  <form action="sqlcommit" method="POST" enctype="multipart/form-data">
  SQL申请人：<input name="auth" placeholder="请输入你的中文姓名即可"  type="text" /><br />
  申请类型:
  <input name="sql_type" type="radio" value="DDL" checked="checked" />DLL
  <input name="sql_type" type="radio" value="DML" />DML
  <input name="sql_type" type="radio" value="数据备份与恢复" />数据备份与恢复
  <br />
  SQL语句：
  <br />
  
  <textarea placeholder="注意：SQL语句和SQL文件只可以选择一种方式提交" name="sql_con" cols="60" rows="20"></textarea>
  <br />
  SQL文件:
  <input name="file" type="file" value='' />
  <br />
  执行环境:<br />
  <input name="run_env" type="radio" value="生产oracle" checked="checked" />生产ORACLE
  <input name="run_env" type="radio" value="测试oracle" />测试ORACLE
  <input name="run_env" type="radio" value="生产mysql" />生产MYSQL
  <input name="run_env" type="radio" value="测试mysql" />测试MYSQL
  
  <br />
  <br/>
  
  语句所属项目名:
  <select name="item">
  {% for j in xiangmu %}
    <option value={{j}}>{{j}}</option>
  {% endfor %}
  </select>
  
  
  <br>
  执行说明：
  <input name="run_con" type="text" /><br />
  
  <br />
  
    <input name="ok" type="submit" value="提交" />
    <input name="can" type="reset" value="重置"/>
  </form>
  </div>
-->

  </body>
</html>
