<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="/static/Css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/Css/ui-dialog.css" />

        <script type="text/javascript" src="/static/Js/jquery.js"></script>
        <script type="text/javascript" src="/static/Js/jquery.sorted.js"></script>
        <script type="text/javascript" src="/static/Js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/Js/ckform.js"></script>
        <script type="text/javascript" src="/static/Js/common.js"></script>
		<script type="text/javascript" src="/static/Js/dialog-plus-min.js"></script>

		<style>
			#so {
				margin: 50px 0 50px 0;
			}

        /* 表头单元格内容居中 */
        .tr_value td {
            text-align: center;
        } 
        </style>

        <script>

			function change_confirm() {
				var res = confirm('确定要转手此条记录？');
				if (res == true )
					return true;
				else
					return false;
			}
        </script>
    </head>
    <body>
		<div class="container-fluid">

            <div class="controls so">
                 <form class="form-search form-horizontal"  method="get" action="">
					<div id="so">
						<label>IMEI\MEID：&nbsp;&nbsp;&nbsp;<input type="text" name="numbers"  size="50" class=""/></label> 
						<span><input  class="btn btn-primary" type="submit" value="查询" /></span>
					</div>
                 </form>
            </div>

			<div>
			<form class="form-search form-horizontal"  method="post" action="phone_change_req/">
				<table border="1"  class="table text-info table-bordered table-striped table-hover table-condensed">
					<thead>
						<tr height="32px" class="tr_value"  style="background: #DFF0D8; font-size: 18px; ">
							<td>IMEI\MEID</td>
							<td>原使用人</td>
							<td>新使用人</td>
							<td>申请时间</td>
							<td>确认时间</td>
						</tr>
					</thead>
					{% for i in a %}
						<tr class='tr_value' height="32px" style="font-size:16px">
							<td>{{i.numbers}}</td>
							<td>{{i.olduser}}</td>
							<td>{{i.newuser}}</td>
							<td>{{i.createtime}}</td>
							<td>{{i.committime}}</td>
						</tr>
					{% endfor %}
				</table>
			</form>
			</div>
		</div>
    </body>
</html>
